.tarj{
    border: 2px solid #10fa6e78;
border-Radius: 5px;
width: 180px;
padding: 10px;
box-Sizing: border-box;
text-align: center;
margin-Bottom: 10px;
height: 700px;
width: 400px;
margin-left: 450px;
background-image: url(https://tse1.explicit.bing.net/th?id=OIP.I-Rc4GBMM0tHp3XxuuLxEgHaEo&pid=Api&P=0&h=180);
box-shadow: 0 0 10px #3ed13e, 0 0 20px #64d086, 0 0 30px #22f134, 0 0 40px #07e607;

}



.fondo{
    background-Attachment:fixed;
    background-image: url(https://i.pinimg.com/736x/1e/15/3e/1e153e18d0e66bf912d094bc807f2715--rick-y-morty-dibujos-rick-and-morty-wallpaper.jpg);
}



h1{
    color:#e2eae2;
    font-family: 'Creepster', cursive;
}


.button{
    background-color:rgba(10, 173, 255, 0.611);
    width: 90px;
    height: 40px;
}