@keyframes animateBackground {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  .miDiv {
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/736x/1e/15/3e/1e153e18d0e66bf912d094bc807f2715--rick-y-morty-dibujos-rick-and-morty-wallpaper.jpg);
    animation: animateBackground 20s linear infinite;
   
   top:0;
   left: 0;
   z-index: -1;
   position: fixed;
  
  }
 



.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asume que quieres que el formulario se centre en toda la pantalla. Si no, puedes ajustar el valor de height según tus necesidades. */
   color: black;
   
}


.cuadrado {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
}

/*class para el label*/

.blanca {
    color: white;
  
}
.blancas{
  color:#f8f7f7;
  margin-left: 80px;
  font-size: 24px;
  font-style:oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px; /*espacio de letras*/ 
}

/*class para los <p> de errores*/

.error {
    color: rgb(163, 254, 231); }
    

    .boton {
        background-color: #000000;  /* Cambia 'blue' por el color que prefieras */
        color: rgb(65, 246, 15);  /* Esto determina el color del texto */
        border-radius:12px;
         /* Cambia el color de fondo */
        transform: scale(1.08);  /* Aumenta ligeramente el tamaño del botón */
        height: 27px;
        width: 170px;
        margin-left: 50px;  /*empujo a la derecha al boton*/
        box-shadow: 0 0 10px #09f654, 0 0 20px #09e88f, 0 0 30px #08e217, 0 0 40px #07e607; 
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        text-transform: uppercase; /*cambia a mayuscula la letra*/
        cursor: pointer; /*cambia el cursor a una manito*/
        transition: background-color 0.3s ease;

        
      }
      .boton:hover {
        background-color: rgb(65, 246, 15); /* Cambiar el color de fondo al color del texto original */
        color: #000000; /* Cambiar el color del texto al color de fondo original */
    }
    
    .boton {
        /* Tus estilos existentes... */
        background-color: #000000;
        color: rgb(65, 246, 15);
        border-radius: 12px;
        transform: scale(1.08);
        height: 27px;
        width: 170px;
        margin-left: 50px;
        box-shadow: 0 0 10px #09f654, 0 0 20px #09e88f, 0 0 30px #08e217, 0 0 40px #07e607;
        
        /* Añadimos un margen en la parte superior */
        margin-top: 30px; /* Puedes ajustar el valor según la distancia que quieras */
    }
    
    
    
    
    
    
    

      
    .icono{
        width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 5px double black;
    
    }
   
    .miForm {
        box-shadow:  0 0 10px #34fa0c, 0 0 20px #11cb84, 0 0 30px #2ffa06, 0 0 40px #39ff14;  /* Añade un borde alrededor del formulario */
        padding: 30px;  /* Añade espacio entre el borde y el contenido del formulario */
        background-color:rgba(0, 0, 0, 0.592);  /* Cambia el color de fondo del formulario */
        width: 270px;  /* Ajusta este valor según tus necesidades */
        height: 270px; /* Ajusta este valor según tus necesidades */
        
        
      }
    
    .divForm{
    
    position: relative;
  z-index: 2;
    }

    footer {
      width: 100%;
      background-color: #010201f0; /* Color de fondo oscuro */
      color: #fff; /* Color de texto blanco */
      padding: 20px 0; /* Espaciado arriba y abajo */
      position: absolute; /* Posición absoluta */
      bottom: 0; /* Asegurarse de que esté en la parte inferior de la página */
      left: 0; /* Asegurarse de que esté alineado a la izquierda */
      text-align: center; /* Centrar el texto horizontalmente */
      flex-shrink: 0;
  }
  
  /* Estilo para el párrafo dentro del pie de página */
  footer p {
      margin: 0; /* Quitar margen */
      font-size: 14px; /* Tamaño de la fuente */
  }
  