@keyframes animateBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 100%; }
  }
  
  .miDiv {
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/736x/1e/15/3e/1e153e18d0e66bf912d094bc807f2715--rick-y-morty-dibujos-rick-and-morty-wallpaper.jpg);
    background-size:cover;
    background-attachment: fixed;
    
  }
 